<div class="container">
  <div class="row d-flex justify-content-center h-100">
    <div class="col-md-8 my-auto">
      <form action="/" method="POST" autocomplete="off" style="background:#e6dcdc12; border: 1px dotted #121212; padding: 10px; border-radius: 10px;">
        <h2 class="text-center"><strong>Create / Update a User</strong></h2>
        <fieldset class="form-group">
          <input type="hidden" class="form-control" id="_id" name="" value="">
        </fieldset>
  <!-- <fieldset class="form-group">
    <input type="hidden" class="form-control" id="_id" name="joined date" value="">
  </fieldset> -->
        <div class="form-row">
          <fieldset class="form-group col-md-6">
            <label for="first"><strong>First Name *</strong></label>
            <input type="text" class="form-control" id="first" name="first" placeholder="Type first name" required>
          </fieldset>
          <fieldset class="form-group col-md-6">
            <label for="last"><strong>Last Name *</strong></label>
            <input type="text" class="form-control" id="last" name="last" placeholder="Type last name" required>
          </fieldset>
        </div>
        <div class="form-row">
          <fieldset class="form-group col-md-6">
            <label for="dob"><strong>Date of Birth *</strong></label>
            <input type="date" class="form-control" id="last" name="dob" required>
          </fieldset>
          <fieldset class="form-group col-md-6">
            <label for="username"><strong>Username *</strong></label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Type a unique username to use for log in" required>
          </fieldset>
        </div>
        <div class="form-row">
          <fieldset class="form-group col-md-6">
            <label for="email"><strong>Email</strong></label>
            <input type="email" class="form-control" id="email" rows="3" name="email">
          </fieldset>
          <fieldset class="form-group col-md-6">
            <label for="phone"><strong>Phone *</strong></label>
            <input type="number" class="form-control" id="phone" name="phone" required>
          </fieldset>
        </div>
        <button type="submit" class="btn btn-primary">Save User</button>
      </form>
    </div>
  </div>
</div>

