      <nav class="navbar navbar-light static-top">
      <div class="container-fluid" style="margin: 0; padding: 10px;">
        <a class="navbar-brand" href="#">Gift4U</a>
        <a class="navbar-brand" href="add-edit-user.html">Add User</a>
        <a class="navbar-brand" href="add-edit-product.html">Add Product</a>
        <a class="navbar-brand" href="product-detail.html">Product Details</a>
        <a class="navbar-brand" href="product-list.html">Product List</a>
        <a class="navbar-brand" href="user-list.html">User List</a>
        <a class="navbar-brand" href="user-detail.html">User Details</a>
        <a class="btn btn-primary pull-right" href="/login">Log In</a>

      </div>
    </nav>
    <div class="container">
      <div class="row justify-content-center">
        <!--  -->
        <!-- <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
          <div class="card" style="width: 16rem; background: rgba(218, 188, 195, .9); border-radius: 10px;   box-shadow: 0 4px 8px 0 rgba(0, 0, 
0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <img class="card-img-top" style="width:14rem; height: 12rem;" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Card image cap">
            -- src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-thumbnail img-fluid" 
            <div class="card-body">
              <h5 class="card-title">Flower One</h5>
              -- <p class="card-text"></p> 
              <p><span>Ugx. 5,0000</span></p>
            </div>
          </div>
        </div> -->
         <!-- <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
          <div class="card" style="width: 16rem; background: #DED1BD; border-radius: 10px;">
              <img class="card-img-top" style="width:14rem; height: 12rem;" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Flower One</h5>
              -- <p class="card-text"></p> 
              <p><span>Ugx. 5,0000</span></p>
            </div>
          </div>
        </div> -->
        <!--  -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card">
              <img class="card-img-top" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Flower One</h5>
              <!-- <p class="card-text"></p> -->
              <p><span>Ugx. 5,0000</span></p>
            </div>
          </div>
        </div>
        <!--  -->
        <!--  -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card">
              <img class="card-img-top" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Flower One</h5>
              <!-- <p class="card-text"></p> -->
              <p><span>Ugx. 5,0000</span></p>
            </div>
          </div>
        </div>
        <!--  -->
        <!--  -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card">
              <img class="card-img-top" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Flower One</h5>
              <!-- <p class="card-text"></p> -->
              <p><span>Ugx. 5,0000</span></p>
            </div>
          </div>
        </div>
        <!--  -->
        <!--  -->
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
          <div class="card">
              <img class="card-img-top" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Flower One</h5>
              <!-- <p class="card-text"></p> -->
              <p><span>Ugx. 5,0000</span></p>
            </div>
          </div>
        </div>
        <!--  -->
        <!--  -->
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
          <div class="card">
              <img class="card-img-top" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Flower One</h5>
              <!-- <p class="card-text"></p> -->
              <p><span>Ugx. 5,0000</span></p>
            </div>
          </div>
        </div>
        <!--  -->
        <!--  -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card">
              <img class="card-img-top" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Flower One</h5>
              <!-- <p class="card-text"></p> -->
              <p><span>Ugx. 5,0000</span></p>
            </div>
          </div>
        </div>
        <!--  -->
        <!--  -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card">
              <img class="card-img-top" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Flower One</h5>
              <!-- <p class="card-text"></p> -->
              <p><span>Ugx. 5,0000</span></p>
            </div>
          </div>
        </div>
        <!--  -->
        <!--  -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card">
              <img class="card-img-top" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Flower One</h5>
              <!-- <p class="card-text"></p> -->
              <p><span>Ugx. 5,0000</span></p>
            </div>
          </div>
        </div>
        <!--  -->   
        
        
      </div>
    </div>

    
