<div class="container">
	<h2 class="text-center">Product Details</h2>

	<div class="card">
	    <div class="card-body">
	        <div class="row">
        	    <div class="col-md-3">
        	        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-thumbnail img-fluid"/>
        	        <p class="text-secondary text-center">Added on: </p>
                  <p class="text-secondary text-center">Supplier : <a href="#">Supplier name</a></p>
                  <p class="text-secondary text-center">Phone : <span>phone number</span></p>
                  <!-- suupplier name, should like to the supplier details page, will be created in the next phase
                and supplier list together with supplier link to all products provided -->
        	    </div>
        	    <div class="col-md-9">
        	        <p>
                    <a class="float-left" href="#"><strong>Product Title : Flower</strong></a>
                  </p>
        	       <div class="clearfix"></div>
        	        <p>
                    Lorem Ipsum is simply dummy text of the pr make  but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                    Aldus PageMaker including versions of Lorem Ipsum.
                  </p>
        	        <p>
                    <a class="float-right btn text-white btn-danger ml-2">Delete</a>
        	          <a href="/product/create-product" class="float-right btn btn-outline-primary">Edit</a>
        	       </p>
        	    </div>
	        </div>
	    </div>
	</div>
</div>

