  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="mb-2">
          <img class="w-50" src="https://image.ibb.co/jw55Ex/def_face.jpg" alt="">
        </div>
        <div class="mb-2 d-flex">
          <h4 class="font-weight-normal">John Doe</h4>
        </div>
        <div class="mb-2">
          <ul class="list-unstyled">
            <li class="media">
              <span class="w-25 text-black font-weight-normal">Email: </span>
              <label class="media-body">isaac@isaac.com</label>
            </li>
            <li class="media">
              <span class="w-25 text-black font-weight-normal">Phone: </span>
              <label class="media-body">789 456 1230</label>
            </li>
            <li class="media">
              <span class="w-25 text-black font-weight-normal">DOB: </span>
              <label class="media-body">05/12/2019</label>
            </li>
            <li class="media">
              <span class="w-25 text-black font-weight-normal">Joined: </span>
              <label class="media-body">05/05/2020</label>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 pl-xl-3">
        <h5 class="font-weight-normal">Description</h5>
        <p class="text-justify">Along with your plans, you should consider developing an action orientation that will keep you motivated to move forward at all times. This requires a little self-discipline, but is a crucial component to achievement of any kind. Before starting any new activity, ask yourself if that activity will move you closer to your goals. If the answer is no, you may want to reconsider doing it at that time.</p>

        <ul class="list list-unstyled list-inline mb-3">
          <li class="text-secondary font-weight-normal mb-1 list-inline-item">
            <span class="ti-arrow-right pr-1 text-primary"></span>
            <a href="/user/create-user" role="button" class="btn btn-primary">Edit</a>
          </li>
          <li class="text-secondary font-weight-normal mb-1 list-inline-item">
            <span class="ti-arrow-right pr-1 text-primary"></span>
            <a href="#" role="button" class="btn btn-danger">Delete</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

