<div class="container">
  <h2>Staff Details</h2>
  <a href="/user/create-user" class="btn btn-primary">New User</a><br><br>

  <table class="table table-bordered">
      <thead>
        <tr>
          <th>No</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>07XXXXXXXXXXXX</td>
          <td>
            <a href="/user/user-detail" class="btn btn-primary btn-sm">More</a>
            <a href="/user/create-user" class="btn btn-warning btn-sm">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
</div>

